$theme-clr:                                 #5c2d7c;
$theme-clr2:                                #e3a554;
$theme-lt:                                  #f5f2ed;
$white:                                     #ffffff;
$black:                                     #000000;
$grey:                                      #cccccc;
$text-clr:                                  #333333;
$section-title_clr:                         #050304;

// header
$header_bg:                                  $white;
$header_shadow:                              $grey;