@import './mixin';
@import './variables';

* {
    margin: 0;
    padding: 0;
}
ul {
    margin-bottom: 0 !important;
}
img {
    max-width: 100%;
}
.theme-btn {
    background-color: $theme-clr2;
    color: $text-clr;
    font-size: 30px;
    border: 0;
    padding: 10px 25px;
    border-radius: 35px;
    &.dark {
        background-color: $theme-clr;
        color: $white;
    }
}
.linee-btn {
    border: 2px solid $theme-clr;
    padding: 10px;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 700;
    color: $theme-clr;
}
.halfbgsection {
    position: relative;
    &::after {
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
        width: 76px;
        height: 100%;
        top: 0;
        content: '';
        @media screen and (max-width:991px) {
            display: none;
        }
    }
    @media screen and (max-width:991px) {
        .bgmobile {
            background-color: $theme-clr;
            padding: 40px;
        }
        .owl-dots {
            text-align: center;
            padding: 10px;
        }
        .halfbgsectionmargin {
            padding: 20px;
        }
    }
    &.leftbg {
        @media screen and (min-width: 992px) {
            background: linear-gradient(to right, $theme-clr 50%, #f5f1ed 0%);
            &.whitebg {
                background: linear-gradient(to right, $theme-clr 50%, $white 0%);
            }
            .owl-dots {
                text-align: right;
                padding: 10px 25% 10px;
                button {
                    outline: none;
                }
            }
            .halfbgsectionmargin {
                padding-left: 100px;
            }
        }
        &::after {
            background-image: url('./../images/bannercross.png');
            left: 49%;
        }
    }
    &.rightbg {
        @media screen and (min-width: 992px) {
            background: linear-gradient(to left, $theme-clr 50%, #f5f1ed 0%);
            &.whitebg {
                background: linear-gradient(to left, $theme-clr 50%, $white 0%);
            }
            .owl-dots {
                text-align: right;
                padding: 10px 25% 10px;
                button {
                    outline: none;
                }
            }
            .halfbgsectionmargin {
                padding-right: 100px;
            }
        }
        &::after {
            background-image: url('./../images/rightbg.png');
            right: 49%;
        }
    }
} 
.autowidth {
    width: auto !important;
}
.imageinfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (min-width: 1200px) {
        &.reversed {
            flex-direction: row-reverse;
        }
    }
    &__img {
        width: 60%;
        img {
            width: 100%;
        }
        @media screen and (max-width: 1199px) {
            width: 100%;
        }
    }
    &__details {
        width: 40%;
        @media screen and (max-width: 1199px) {
            width: 100%;
        }
        .title {
            color: $theme-clr;
            font-size: 60px;
            font-weight: 600;
            @media screen and (max-width: 991px) {
                font-size: 36px;
            }
        }
        font-size: 36px;
        font-weight: 400;
        text-align: right;
        padding: 30px;
        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
        span {
            color: #6d5c78;
            font-weight: 400;
            font-size: 16px;
            @media screen and (max-width: 991px) {
                font-size: 13px;
            }
        }
    }
}
.quantity {
    position: relative;
    width: 60px;
    input {
        padding: 0 10px;
        width: 100%;
        text-align: center; 
        height: 46px;
        border: 2px solid #cccccc;
    }
}
.cartitems {
    width: 100%;
    overflow-x: auto;
    &__table {
        display: table;
        width: 100%;
        min-width: 500px;
    }
    &__head {
        &__cell {
            font-weight: 600;
            color: $black;
        }
    }
    &__head, &__row {
        display: table-row;
        &__cell {
            display: table-cell;
            text-align: right;
            font-size: 16px;
            padding: 10px;
        }
    }
    &__row {
        background-color: #f3f3f3;
        &:nth-child(n+2){
            .cartitems__row__cell {
                border-top: 1px solid #cccccc;
            }
        }
    }
}
.desktopleftborder {
    @media screen and (min-width: 992px) {
        border-left: 1px solid #cccccc;
        padding-left: 15px;
    }
}
.couponcode {
    &.withborder {
        padding: 15px 0;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }
    .title {
        display: block;
        padding: 10px 0;
    }
    .formgroup__row {
        display: flex;
        @media screen and (max-width: 575px) {
            flex-direction: column;
        }
        input {
            flex: 1;
            margin-left: 15px;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid #cccccc;
            outline: none;
            padding: 10px;
        }
        button {
            width: 135px;
        }
    }
}
.checkbox-wrapper {
    position: relative;
    line-height: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    label {
        margin-bottom: 0;
    }
    input {
        width: 15px;
        height: 15px;
        position: absolute;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
        & + span {
            width: 15px;
            height: 15px;
            border: 2px solid $theme-clr;
            display: inline-block;
            margin-left: 15px;
            position: relative;
        }
        &:checked {
            & + span {
                &::after {
                    content: "";
                    position: absolute;
                    left: 5px;
                    top: -5px;
                    width: 7px;
                    height: 15px;
                    border-bottom: 2px solid $theme-clr;
                    border-right: 2px solid $theme-clr;
                    transform: rotate(45deg);
                }
            }
        }
    }
}
.billingInfo {
    font-size: 16px;
    padding-bottom: 50px;
    label {
        font-weight: 600;
    }
    input, textarea {
        border-radius: 0;
        outline: none;
        box-shadow: none !important;
    }
}
.shoppingcart {
    @media screen and (min-width: 992px) {
        margin-bottom: 60px;
    }
}
.breadcrumbs-wrapper {
    width: 100%;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0 15px;
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
            list-style: none;
            a {
                color: $black;
                text-decoration: none;
                font-size: 16px;
                font-weight: 400;
                padding: 10px;
                display: block;
                position: relative;
            }
            &:nth-last-child(n+2) {
                a {
                    &::after {
                        content: '<';
                        position: absolute;
                        top: 50%;
                        left: 0;
                        @include translate(-50%, -50%);
                    }
                }
            }
        }
    }
}
.shippingInfo {
    text-align: right;
    padding-top: 70px;
    .shippingaddress {
        .title {
            display: block;
            padding: 10px 0;
        }
        label {
            padding: 10px 0;
        }
    }
    .couponcode {
        margin-bottom: 20px;
    }
    button {
        width: 100%;
        margin: 20px 0;
    }
    .checkbox-wrapper {
        padding: 10px 0;
        font-weight: 700;
        font-size: 16px;
    }
    .shippingprice {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        &.single {
            justify-content: flex-end;
        }
        span {
            font-size: 20px;
            &.b {
                font-weight: 700;
            }
        }
    }
    &__title, .title {
        font-size: 18px;
        font-weight: 700;
    }
    &__purchase {
        display: table;
        width: 100%;
        &__row {
            display: table-row;
            &__item {
                display: table-cell;
                font-size: 16px;
            }
            &.heavy {
                font-weight: 700;
                .shippingInfo__purchase__row__item {
                    padding: 10px 0;
                    border-top: 1px solid #cccccc;
                    border-bottom: 1px solid #cccccc;
                }
            }
        }
    }
}
.halfbg {
    padding: 50px;
    position: relative;
    @media screen and (max-width: 991px) {
        background-image: none !important;
        padding: 0;
        .bgmobile {
            background-color: $theme-clr;
            padding: 40px;
        }
        &::after {
            display: none;
        }
    }
    &.rightbg {
        background: linear-gradient(to left, $theme-clr 50%, #f5f1ed 0%);
        .halfmargin {
            margin-right: 100px;
            @media screen and (max-width: 991px) {
                margin: 0;
            }
        }
        &::after {
            background-image: url('./../images/rightbg.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
            left: 51%;
            @include translateX(-100%);
        }
    }
    &.leftbg {
        background: linear-gradient(to right, $theme-clr 50%, #f5f1ed 0%);
    }
    &::after {
        content: '';
        width: 50px;
        height: 100%;
        position: absolute;
        top: 0;
    }
}
.authors-quote {
    color: $white;
    font-size: 24px;
    .title, .quote {
        font-weight: 700;
    }
    .quoteIcon {
        margin-top: 60px;
        display: block;
    }
    .quote {
        padding: 40px;
        font-style: italic;
    }
    label {
        font-size: 20px;
        font-weight: 400;
    }
}
.custom_radios {
    padding-right: 25px;
    flex: 1;
    .form-check-label {
        display: flex;
        align-items: center;
        line-height: 1;
        cursor: pointer;
        font-size: 18px;
        font-weight: 400;
        &:nth-last-child(n+2) {
            margin-bottom: 6px;
        }
        input {
            & + span {
                border: 2px solid $white;
                width: 14px;
                height: 14px;
                border-radius: 100%;
                display: inline-block;
                box-shadow: 0 0 0px 2px $theme-clr;
                margin-left: 8px;
            }
            opacity: 0;
            width: 14px;
            height: 14px;
            &:checked {
                & + span {
                    background-color: $theme-clr;
                }
            }
        }
    }
}
.purchaseInfo {
    padding: 75px 62px;
    background-color: #faf9f7;
    &__content {
        text-align: right;
        ul {
            li {
                display: flex;
                font-size: 24px;
                font-weight: 700;
                @media screen and (min-width: 992px) and (max-width: 1199px) {
                    flex-direction: column;
                }
                span {
                    color: $theme-clr;
                    margin-right: 8px;
                }
            }
        }
        border-bottom: 2px solid $theme-clr;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    &__footer {
        text-align: right;
        ul {
            li {
                display: flex;
                font-size: 24px;
                @media screen and (min-width: 992px) and (max-width: 1199px) {
                    flex-direction: column;
                }
                label {
                    font-weight: 400;
                }
                span {
                    font-weight: 700;
                    margin-right: 8px;
                    &.strike {
                        color: #858181;
                        font-weight: 400;
                        text-decoration: line-through;
                    }
                    &.devider {
                        margin-right: 8px;
                    }
                }
            }
        }
        button {
            font-size: 24px;
            font-weight: 700;
            margin-top: 36px;
            width: 230px;
        }
    }
    &__actions {
        margin-top: 36px;
        @media screen and (min-width: 992px) and (max-width: 1199px) {
            flex-direction: column;
            align-items: normal !important;
            button {
                margin-bottom: 20px;
            }
        }
        button {
            margin-top: 0;
        }
    }
}
.transparentbg {
    background-color: transparent;
}
.noborder {
    border: 0 !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.sz-navbar-items .sz-navbar-item.active a {
    color: $theme-clr;
    border-bottom: 2px solid $theme-clr;
    @media screen and (max-width: 991px) {
        color: $white;
        border: 0;
    }
}
.section-heading {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-title {
    color: $section-title_clr;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 400;
    line-height: 1;
    &.lineright {
        &::after {
            right: 0;
            left: auto;
            @include translateX(0);
        }
    }
    &.heavy {
        font-size: 60px;
        font-weight: 600;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 45px;
        height: 2px;
        background-color: $section-title_clr;
        left: 50%;
        @include translateX(-50%);
    }
}
.owl-carousel {
    direction: ltr;
    .item {
        direction: rtl;
    }
    .owl-dots {
        button {
            &.active {
                span {
                    background: $theme-clr !important;
                }
            }
        }
    }
}
.centernav {
    position: relative;
    padding: 15px 70px;
    @media screen and (max-width:991px) {
        padding: 15px 0px;
    }
    .owl-nav {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        justify-content: space-between;
        button {
            background-color: transparent !important;
            outline: none !important;
            span {
                font-size: 50px;
                font-weight: 100;
                color: #707070 !important;
            }
        }
    }
}
.loadsbox {
    width: 409px;
    background-color: #f5f1ed;
    padding: 20px;
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .progress {
            width: 215px;
            background-color: $white;
            height: 22px;
            border-radius: 10px;
            .progress-bar {
                background-color: $theme-clr;
                border-radius: 10px;
                position: relative;
                overflow: visible;
                span {
                    position: absolute;
                    right: 100%;
                    margin-right: 5px;
                    color: $theme-clr;
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }
        label {
            font-size: 20px;
            font-weight: 600;
            margin: 0 15px 0 0;
        }
    }
}
.withbadge {
    position: relative;
    .badge {
        position: absolute;
        left: 0;
        top: 0;
        @include translate(-50%, -25%);
        line-height: 1;
        border-radius: 100%;
        background-color: $theme-clr;
    }
}
.bookarticle {
    img {
        width: 100%;
    }
    position: relative;
    padding-right: 60px;
    figcaption {
        width: 135px;
        height: 135px;
        background-color: $theme-clr2;
        line-height: 135px;
        border-radius: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        position: absolute;
        bottom: 0;
        right: 0px;
    }
}
.owl-stage-outer, .owl-dots {
    position: relative;
    z-index: 1;
}
.centeredRow {
    justify-content: center;
}
.imageWithInfo {
    text-align: center;
    a {
        color: inherit;
        text-decoration: none;
        figure {
            figcaption {
                font-weight: 400;
                font-size: 24px;
                color: #050304;
                .title {
                    font-weight: 700;
                    font-size: inherit;
                    color: inherit;
                }
                p {
                    margin-bottom: 0;
                    line-height: 1;
                }
            }
        }
    }
}
.sz-navbar-hamburger {
    background: $theme-clr;
    padding: 10px 20px;
    line-height: 1;
    color: #fff;
    border-radius: 4px;
    font-size: 30px;
}
.lightbg {
    .articlebox {
        figure {
            figcaption {
                background-color: transparent;
            }
        }
    }    
}
.articlebox {
    a {
        color: inherit;
        text-decoration: none;
    }
    figure {
        img {
            width: 100%;
        }
        figcaption {
            background-color: $white;
            padding: 30px 20px 20px 20px;
            text-align: center;
            .title {
                font-size: 20px;
                font-weight: 700;
                color: #050304;
            }
            font-size: 14px;
            font-weight: 400;
            color: #6d5c78;
        }
    }
}

body {
    direction: rtl;
    font-family: 'Heebo', sans-serif;
    color: $text-clr;
    margin: 0;
    .align-center {
        align-items: center;
    }
    header {
        .header-wrapper {
            display: flex;
            justify-content: space-between;
        }
        padding: 10px 0 7px 0;
        background-color: $header_bg;
        box-shadow: 0px 3px 25px 0px rgba($color: $header_shadow, $alpha: 0.3);
        .header-left {
            ul {
                li {
                    &:nth-child(n+2) {
                        padding-right: 40px;
                    }
                }
            }
        }
        .header-mid {
            display: flex;
            align-items: center;
            a {
                font-weight: 600;
                font-size: 17px;
                padding: 17px 0;
                margin: 0 18px;
                color: $text-clr;
                text-decoration: none;
                @media screen and (max-width: 991px) {
                    color: $grey;
                }
            }
        }
    }
    main {
        section {
            &.lightbg {
                background-color: $theme-lt;
            }
            &.spacing {
                padding: 90px 0;
            }
            &.bannersection {
                display: flex;
                @media screen and (max-width: 991px) {
                    flex-direction: column;
                }
                .bannersection__left {
                    // background-color: $theme-clr;
                    padding: 50px;
                    flex: 1;
                    position: relative;
                    display: flex;
                    align-items: center;
                    @media screen and (min-width: 992px) {
                        // &::after {
                        //     width: 50px;
                        //     height: 100%;
                        //     left: 100%;
                        //     top: 0;
                        //     position: absolute;
                        //     background-image: url('./../images/bannercross.png');
                        //     background-repeat: no-repeat;
                        //     background-position: left;
                        //     background-size: cover;
                        //     content: '';
                        // }
                    }
                    aside {
                        color: $white;
                        text-align: right;
                        &.lower {
                            p {
                                font-size: 30px;
                            }
                        }
                        .subtitle {
                            font-size: 40px;
                        }
                        .title {
                            font-size: 60px;
                            position: relative;
                            padding-bottom: 30px;
                            margin-bottom: 30px;
                            &.noline {
                                padding-bottom: 0;
                                &::after {
                                    display: none;
                                }
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                width: 50px;
                                height: 2px;
                                background-color: $white;
                            }
                        }
                        p {
                            font-size: 36px;
                        }
                    }
                }
                .bannersection__right {
                    flex: 1;
                    padding: 50px 20px;
                    display: flex;
                    justify-content: center;
                    .bannerCarousel {
                        max-width: 600px;
                    }
                    .booksCarousel {
                        max-width: 250px;
                    }
                }
            }
            &.bookproductSection {
                padding: 130px 0 110px;
                .section-title {
                    color: $theme-clr;
                }
                .bookproductbanner {
                    @media screen and (min-width: 992px) {
                        padding-right: 50px;
                    }
                }
                aside {
                    font-size: 20px;
                    font-weight: 400;
                    margin-bottom: 17px;
                    p {
                        margin-bottom: 20px;
                    }
                    button {
                        font-weight: 700;
                        color: $theme-clr;
                        margin-top: 15px;
                    }
                }
            }
            &.novelCategories {
                padding: 70px 0;
                .categories {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .category {
                        text-align: center;
                        min-width: 100px;
                        flex: 1;
                        a {
                            color: inherit;
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: 400;
                        }
                        img {
                            margin-bottom: 25px;
                        }
                        &:nth-last-child(n+2) {
                            border-left: 2px solid #f5f1ed;
                        }
                    }
                }
            }
            &.newLetterSection {
                background:linear-gradient(0deg, rgba(52, 34, 63, 0.8), rgba(52, 34, 63, 0.8)), url('./../images/booksrack.png');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 175px 0;
                .newsletterForm {
                    color: $white;
                    text-align: center;
                    &__header {
                        font-size: 36px;
                        .title {
                            font-weight: 600;
                            font-size: 60px;
                        }
                    }
                    &__content {
                        margin-top: 45px;
                        button, .button-wrapper {
                            width: 100%;
                        }
                        .inputs-row {
                            margin: 0 -15px;
                            @media screen and (max-width: 767px) {
                                flex-direction: column;
                                .input-wrapper {
                                    width: 100%;
                                }
                            }
                        }
                        .input-wrapper {
                            flex: 1;
                            input {
                                width: 100%;
                                height: 70px;
                                padding: 15px;
                                border-radius: 35px;
                                text-align: center;
                                color: #b0aeae;
                                font-size: 24;
                                margin-bottom: 24px;
                                outline: none;
                                border: 0;
                            }
                        }
                        .button-wrapper, .input-wrapper {
                            padding: 0 15px;
                        }
                    }
                }
            }
        }
    }
    footer {
        .topFooter {
            background-color: $theme-clr;
            padding: 76px 0 180px;
            color: $white;
            text-align: right;
            font-size: 16px;
            font-weight: 400;
            a {
                color: inherit;
                text-decoration: none;
            }
            &__item {
                ul {
                    display: flex;
                    li {
                        list-style: none;
                        padding: 0 9px;
                    }
                }
                &.group {
                    ul {
                        flex-direction: column;
                        li {
                            margin-bottom: 18px;
                        }
                    }
                }
                .socialicons {
                    @media screen and (max-width: 767px) {
                        margin-bottom: 40px;
                    }
                }
            }
            &__header {
                width: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 60px;
                .footerimg {
                    margin-left: 18px;
                }
                .search {
                    position: relative;
                    flex: 1;
                    span {
                        position: absolute;
                        left: 30px;
                        top: 50%;
                        @include translateY(-50%);
                    }
                    input {
                        background-color: $white;
                        height: 70px;
                        width: 100%;
                        border-radius: 35px;
                        outline: none;
                        padding: 0 35px 0 65px;
                        font-weight: 400;
                        font-size: 16px;
                        color: #333333;
                    }
                }
            }
        }
        .bottomFooter {
            background-color: #333333;
            padding: 35px 0;
            color: $white;
            &__inner {
                display: flex;
                justify-content: space-between;
                p {
                    margin-bottom: 0;
                }
            }
            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}
.singleblogbanner {
    padding: 42px 0 110px;
    .title {
        font-size: 68px;
        font-weight: 700;
        color: $theme-clr;
        @media screen and (max-width: 991px) {
            text-align: center !important;
            font-size: 38px;
            br {
                display: none;
            }
        }
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 42px;
        .breadcrumbs-wrapper {
            padding-bottom: 0;
            ul {
                justify-content: center;
            }
        }
    }
    .timeinfo {
        font-size: 16px;
        font-weight: 400;
        color: #464347;
        @media screen and (max-width: 991px) {
            text-align: center !important;
        }
        b {
            font-weight: 700;
        }
    }
}
.singleblogpostinfo {
    &__article {
        text-align: right;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 86px;
        @media screen and (max-width: 991px) {
            font-size: 16px;
            padding-bottom: 36px;
        }
        p {
            margin-bottom: 28px;
        }
        .title {
            color: #5c2d7c;
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 28px;
        }
        .quotedtext {
            display: flex;
            flex-direction: column;
            padding: 47px 55px 92px 55px;
            @media screen and (max-width: 991px) {
                padding: 30px;
            }
            img {
                display: block;
                margin: 0 auto;
            }
            .content {
                padding: 50px 0;
                border-top: 2px solid $theme-clr;
                border-bottom: 2px solid $theme-clr;
                margin: 30px 0;
                font-size: 32px;
                font-weight: 600;
                color: $theme-clr;
                text-align: center;
                @media screen and (max-width: 991px) {
                    font-size: 24px;
                }
            }
        }
        .blog {
            display: flex;
            background-color: #f3f3f3;
            padding: 30px 36px;
            margin: 28px 0 14px;
            @media screen and (max-width: 575px) {
                flex-direction: column;
                align-items: center;
                .bloginfo {
                    padding-right: 0 !important;
                    margin-top: 15px;
                    text-align: center;
                }
            }
            .blogimg {
                width: 154px;
            }
            .bloginfo {
                padding-right: 48px;
                font-size: 24px;
                .title {
                    font-size: inherit;
                    font-weight: 700;
                    color: #333333;
                    margin-bottom: 2px;
                    line-height: 1;
                }
                color: $theme-clr;
                font-weight: 400;
                p {
                    margin-bottom: 4px;
                }
                span {
                    display: block;
                    color: #6d5c78;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
    &__posts {
        background-color: #f3f3f3;
        padding: 35px 22px;
        margin-bottom: 40px;
        .title {
            color: #050304;
            font-size: 24px;
            font-weight: 700;
            position: relative;
            padding-bottom: 22px;
            text-align: center;
            &::after {
                content: '';
                position: absolute;
                width: 46px;
                height: 2px;
                background-color: $theme-clr;
                bottom: 0;
                left: 50%;
                @include translateX(-50%);
            }
        }
        &__blogs {
            margin-top: 26px;
            &__blog {
                color: #5c2d7c !important;
                text-decoration: none !important;
                font-weight: 400;
                font-size: 20px;
                display: flex;
                align-items: center;
                @media screen and (max-width: 481px) {
                    flex-direction: column;
                }
                &:nth-last-child(n+2) {
                    border-bottom: 2px solid $white;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
                &__img {
                    min-width: 154px;
                    max-width: 154px;
                    margin-left: 12px;
                }
                &__info {
                    text-align: right;
                    @media screen and (max-width: 481px) {
                        text-align: center;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
}
.postnavigation {
    padding: 54px 0 50px;
    border-top: 2px solid $theme-clr;
    border-bottom: 2px solid $theme-clr;
    margin: 10px 0 20px;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
    }
    &__nav {
        display: flex;
        align-items: center;
        p {
            margin-bottom: 0;
            @media screen and (max-width: 575px) {
                display: none;
            }
        }
        &__text {
            font-size: 24px;
            font-weight: 700;
            color: $theme-clr;
            padding: 0 25px;
            .title {
                color: #333333;
                line-height: 1;
                margin-bottom: 12px;
            }
        }
    }
    &__prev {
        text-align: left;
    }
}

@media screen and (min-width: 1230px) {
    .container {
        max-width: 1200px;
    }
}