* {
  margin: 0;
  padding: 0;
}

ul {
  margin-bottom: 0 !important;
}

img {
  max-width: 100%;
}

.theme-btn {
  background-color: #e3a554;
  color: #333333;
  font-size: 30px;
  border: 0;
  padding: 10px 25px;
  border-radius: 35px;
}
.theme-btn.dark {
  background-color: #5c2d7c;
  color: #ffffff;
}

.linee-btn {
  border: 2px solid #5c2d7c;
  padding: 10px;
  border-radius: 28px;
  font-size: 18px;
  font-weight: 700;
  color: #5c2d7c;
}

.halfbgsection {
  position: relative;
}
.halfbgsection::after {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 76px;
  height: 100%;
  top: 0;
  content: "";
}
@media screen and (max-width: 991px) {
  .halfbgsection::after {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .halfbgsection .bgmobile {
    background-color: #5c2d7c;
    padding: 40px;
  }
  .halfbgsection .owl-dots {
    text-align: center;
    padding: 10px;
  }
  .halfbgsection .halfbgsectionmargin {
    padding: 20px;
  }
}
@media screen and (min-width: 992px) {
  .halfbgsection.leftbg {
    background: linear-gradient(to right, #5c2d7c 50%, #f5f1ed 0%);
  }
  .halfbgsection.leftbg.whitebg {
    background: linear-gradient(to right, #5c2d7c 50%, #ffffff 0%);
  }
  .halfbgsection.leftbg .owl-dots {
    text-align: right;
    padding: 10px 25% 10px;
  }
  .halfbgsection.leftbg .owl-dots button {
    outline: none;
  }
  .halfbgsection.leftbg .halfbgsectionmargin {
    padding-left: 100px;
  }
}
.halfbgsection.leftbg::after {
  background-image: url("./../images/bannercross.png");
  left: 49%;
}
@media screen and (min-width: 992px) {
  .halfbgsection.rightbg {
    background: linear-gradient(to left, #5c2d7c 50%, #f5f1ed 0%);
  }
  .halfbgsection.rightbg.whitebg {
    background: linear-gradient(to left, #5c2d7c 50%, #ffffff 0%);
  }
  .halfbgsection.rightbg .owl-dots {
    text-align: right;
    padding: 10px 25% 10px;
  }
  .halfbgsection.rightbg .owl-dots button {
    outline: none;
  }
  .halfbgsection.rightbg .halfbgsectionmargin {
    padding-right: 100px;
  }
}
.halfbgsection.rightbg::after {
  background-image: url("./../images/rightbg.png");
  right: 49%;
}

.autowidth {
  width: auto !important;
}

.imageinfo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .imageinfo.reversed {
    flex-direction: row-reverse;
  }
}
.imageinfo__img {
  width: 60%;
}
.imageinfo__img img {
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .imageinfo__img {
    width: 100%;
  }
}
.imageinfo__details {
  width: 40%;
  font-size: 36px;
  font-weight: 400;
  text-align: right;
  padding: 30px;
}
@media screen and (max-width: 1199px) {
  .imageinfo__details {
    width: 100%;
  }
}
.imageinfo__details .title {
  color: #5c2d7c;
  font-size: 60px;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .imageinfo__details .title {
    font-size: 36px;
  }
}
@media screen and (max-width: 991px) {
  .imageinfo__details {
    font-size: 16px;
  }
}
.imageinfo__details span {
  color: #6d5c78;
  font-weight: 400;
  font-size: 16px;
}
@media screen and (max-width: 991px) {
  .imageinfo__details span {
    font-size: 13px;
  }
}

.quantity {
  position: relative;
  width: 60px;
}
.quantity input {
  padding: 0 10px;
  width: 100%;
  text-align: center;
  height: 46px;
  border: 2px solid #cccccc;
}

.cartitems {
  width: 100%;
  overflow-x: auto;
}
.cartitems__table {
  display: table;
  width: 100%;
  min-width: 500px;
}
.cartitems__head__cell {
  font-weight: 600;
  color: #000000;
}
.cartitems__head, .cartitems__row {
  display: table-row;
}
.cartitems__head__cell, .cartitems__row__cell {
  display: table-cell;
  text-align: right;
  font-size: 16px;
  padding: 10px;
}
.cartitems__row {
  background-color: #f3f3f3;
}
.cartitems__row:nth-child(n+2) .cartitems__row__cell {
  border-top: 1px solid #cccccc;
}

@media screen and (min-width: 992px) {
  .desktopleftborder {
    border-left: 1px solid #cccccc;
    padding-left: 15px;
  }
}

.couponcode.withborder {
  padding: 15px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.couponcode .title {
  display: block;
  padding: 10px 0;
}
.couponcode .formgroup__row {
  display: flex;
}
@media screen and (max-width: 575px) {
  .couponcode .formgroup__row {
    flex-direction: column;
  }
}
.couponcode .formgroup__row input {
  flex: 1;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #cccccc;
  outline: none;
  padding: 10px;
}
.couponcode .formgroup__row button {
  width: 135px;
}

.checkbox-wrapper {
  position: relative;
  line-height: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.checkbox-wrapper label {
  margin-bottom: 0;
}
.checkbox-wrapper input {
  width: 15px;
  height: 15px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox-wrapper input + span {
  width: 15px;
  height: 15px;
  border: 2px solid #5c2d7c;
  display: inline-block;
  margin-left: 15px;
  position: relative;
}
.checkbox-wrapper input:checked + span::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: 7px;
  height: 15px;
  border-bottom: 2px solid #5c2d7c;
  border-right: 2px solid #5c2d7c;
  transform: rotate(45deg);
}

.billingInfo {
  font-size: 16px;
  padding-bottom: 50px;
}
.billingInfo label {
  font-weight: 600;
}
.billingInfo input, .billingInfo textarea {
  border-radius: 0;
  outline: none;
  box-shadow: none !important;
}

@media screen and (min-width: 992px) {
  .shoppingcart {
    margin-bottom: 60px;
  }
}

.breadcrumbs-wrapper {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0 15px;
}
.breadcrumbs-wrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.breadcrumbs-wrapper ul li {
  list-style: none;
}
.breadcrumbs-wrapper ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  display: block;
  position: relative;
}
.breadcrumbs-wrapper ul li:nth-last-child(n+2) a::after {
  content: "<";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.shippingInfo {
  text-align: right;
  padding-top: 70px;
}
.shippingInfo .shippingaddress .title {
  display: block;
  padding: 10px 0;
}
.shippingInfo .shippingaddress label {
  padding: 10px 0;
}
.shippingInfo .couponcode {
  margin-bottom: 20px;
}
.shippingInfo button {
  width: 100%;
  margin: 20px 0;
}
.shippingInfo .checkbox-wrapper {
  padding: 10px 0;
  font-weight: 700;
  font-size: 16px;
}
.shippingInfo .shippingprice {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
.shippingInfo .shippingprice.single {
  justify-content: flex-end;
}
.shippingInfo .shippingprice span {
  font-size: 20px;
}
.shippingInfo .shippingprice span.b {
  font-weight: 700;
}
.shippingInfo__title, .shippingInfo .title {
  font-size: 18px;
  font-weight: 700;
}
.shippingInfo__purchase {
  display: table;
  width: 100%;
}
.shippingInfo__purchase__row {
  display: table-row;
}
.shippingInfo__purchase__row__item {
  display: table-cell;
  font-size: 16px;
}
.shippingInfo__purchase__row.heavy {
  font-weight: 700;
}
.shippingInfo__purchase__row.heavy .shippingInfo__purchase__row__item {
  padding: 10px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.halfbg {
  padding: 50px;
  position: relative;
}
@media screen and (max-width: 991px) {
  .halfbg {
    background-image: none !important;
    padding: 0;
  }
  .halfbg .bgmobile {
    background-color: #5c2d7c;
    padding: 40px;
  }
  .halfbg::after {
    display: none;
  }
}
.halfbg.rightbg {
  background: linear-gradient(to left, #5c2d7c 50%, #f5f1ed 0%);
}
.halfbg.rightbg .halfmargin {
  margin-right: 100px;
}
@media screen and (max-width: 991px) {
  .halfbg.rightbg .halfmargin {
    margin: 0;
  }
}
.halfbg.rightbg::after {
  background-image: url("./../images/rightbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  left: 51%;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.halfbg.leftbg {
  background: linear-gradient(to right, #5c2d7c 50%, #f5f1ed 0%);
}
.halfbg::after {
  content: "";
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
}

.authors-quote {
  color: #ffffff;
  font-size: 24px;
}
.authors-quote .title, .authors-quote .quote {
  font-weight: 700;
}
.authors-quote .quoteIcon {
  margin-top: 60px;
  display: block;
}
.authors-quote .quote {
  padding: 40px;
  font-style: italic;
}
.authors-quote label {
  font-size: 20px;
  font-weight: 400;
}

.custom_radios {
  padding-right: 25px;
  flex: 1;
}
.custom_radios .form-check-label {
  display: flex;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
.custom_radios .form-check-label:nth-last-child(n+2) {
  margin-bottom: 6px;
}
.custom_radios .form-check-label input {
  opacity: 0;
  width: 14px;
  height: 14px;
}
.custom_radios .form-check-label input + span {
  border: 2px solid #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  display: inline-block;
  box-shadow: 0 0 0px 2px #5c2d7c;
  margin-left: 8px;
}
.custom_radios .form-check-label input:checked + span {
  background-color: #5c2d7c;
}

.purchaseInfo {
  padding: 75px 62px;
  background-color: #faf9f7;
}
.purchaseInfo__content {
  text-align: right;
  border-bottom: 2px solid #5c2d7c;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.purchaseInfo__content ul li {
  display: flex;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .purchaseInfo__content ul li {
    flex-direction: column;
  }
}
.purchaseInfo__content ul li span {
  color: #5c2d7c;
  margin-right: 8px;
}
.purchaseInfo__footer {
  text-align: right;
}
.purchaseInfo__footer ul li {
  display: flex;
  font-size: 24px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .purchaseInfo__footer ul li {
    flex-direction: column;
  }
}
.purchaseInfo__footer ul li label {
  font-weight: 400;
}
.purchaseInfo__footer ul li span {
  font-weight: 700;
  margin-right: 8px;
}
.purchaseInfo__footer ul li span.strike {
  color: #858181;
  font-weight: 400;
  text-decoration: line-through;
}
.purchaseInfo__footer ul li span.devider {
  margin-right: 8px;
}
.purchaseInfo__footer button {
  font-size: 24px;
  font-weight: 700;
  margin-top: 36px;
  width: 230px;
}
.purchaseInfo__actions {
  margin-top: 36px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .purchaseInfo__actions {
    flex-direction: column;
    align-items: normal !important;
  }
  .purchaseInfo__actions button {
    margin-bottom: 20px;
  }
}
.purchaseInfo__actions button {
  margin-top: 0;
}

.transparentbg {
  background-color: transparent;
}

.noborder {
  border: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sz-navbar-items .sz-navbar-item.active a {
  color: #5c2d7c;
  border-bottom: 2px solid #5c2d7c;
}
@media screen and (max-width: 991px) {
  .sz-navbar-items .sz-navbar-item.active a {
    color: #ffffff;
    border: 0;
  }
}

.section-heading {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-title {
  color: #050304;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}
.section-title.lineright::after {
  right: 0;
  left: auto;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.section-title.heavy {
  font-size: 60px;
  font-weight: 600;
}
.section-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 45px;
  height: 2px;
  background-color: #050304;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.owl-carousel {
  direction: ltr;
}
.owl-carousel .item {
  direction: rtl;
}
.owl-carousel .owl-dots button.active span {
  background: #5c2d7c !important;
}

.centernav {
  position: relative;
  padding: 15px 70px;
}
@media screen and (max-width: 991px) {
  .centernav {
    padding: 15px 0px;
  }
}
.centernav .owl-nav {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  justify-content: space-between;
}
.centernav .owl-nav button {
  background-color: transparent !important;
  outline: none !important;
}
.centernav .owl-nav button span {
  font-size: 50px;
  font-weight: 100;
  color: #707070 !important;
}

.loadsbox {
  width: 409px;
  background-color: #f5f1ed;
  padding: 20px;
}
.loadsbox__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.loadsbox__item .progress {
  width: 215px;
  background-color: #ffffff;
  height: 22px;
  border-radius: 10px;
}
.loadsbox__item .progress .progress-bar {
  background-color: #5c2d7c;
  border-radius: 10px;
  position: relative;
  overflow: visible;
}
.loadsbox__item .progress .progress-bar span {
  position: absolute;
  right: 100%;
  margin-right: 5px;
  color: #5c2d7c;
  font-size: 18px;
  font-weight: 600;
}
.loadsbox__item label {
  font-size: 20px;
  font-weight: 600;
  margin: 0 15px 0 0;
}

.withbadge {
  position: relative;
}
.withbadge .badge {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-50%, -25%);
  -moz-transform: translate(-50%, -25%);
  -ms-transform: translate(-50%, -25%);
  -o-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
  line-height: 1;
  border-radius: 100%;
  background-color: #5c2d7c;
}

.bookarticle {
  position: relative;
  padding-right: 60px;
}
.bookarticle img {
  width: 100%;
}
.bookarticle figcaption {
  width: 135px;
  height: 135px;
  background-color: #e3a554;
  line-height: 135px;
  border-radius: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  right: 0px;
}

.owl-stage-outer, .owl-dots {
  position: relative;
  z-index: 1;
}

.centeredRow {
  justify-content: center;
}

.imageWithInfo {
  text-align: center;
}
.imageWithInfo a {
  color: inherit;
  text-decoration: none;
}
.imageWithInfo a figure figcaption {
  font-weight: 400;
  font-size: 24px;
  color: #050304;
}
.imageWithInfo a figure figcaption .title {
  font-weight: 700;
  font-size: inherit;
  color: inherit;
}
.imageWithInfo a figure figcaption p {
  margin-bottom: 0;
  line-height: 1;
}

.sz-navbar-hamburger {
  background: #5c2d7c;
  padding: 10px 20px;
  line-height: 1;
  color: #fff;
  border-radius: 4px;
  font-size: 30px;
}

.lightbg .articlebox figure figcaption {
  background-color: transparent;
}

.articlebox a {
  color: inherit;
  text-decoration: none;
}
.articlebox figure img {
  width: 100%;
}
.articlebox figure figcaption {
  background-color: #ffffff;
  padding: 30px 20px 20px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #6d5c78;
}
.articlebox figure figcaption .title {
  font-size: 20px;
  font-weight: 700;
  color: #050304;
}

body {
  direction: rtl;
  font-family: "Heebo", sans-serif;
  color: #333333;
  margin: 0;
}
body .align-center {
  align-items: center;
}
body header {
  padding: 10px 0 7px 0;
  background-color: #ffffff;
  box-shadow: 0px 3px 25px 0px rgba(204, 204, 204, 0.3);
}
body header .header-wrapper {
  display: flex;
  justify-content: space-between;
}
body header .header-left ul li:nth-child(n+2) {
  padding-right: 40px;
}
body header .header-mid {
  display: flex;
  align-items: center;
}
body header .header-mid a {
  font-weight: 600;
  font-size: 17px;
  padding: 17px 0;
  margin: 0 18px;
  color: #333333;
  text-decoration: none;
}
@media screen and (max-width: 991px) {
  body header .header-mid a {
    color: #cccccc;
  }
}
body main section.lightbg {
  background-color: #f5f2ed;
}
body main section.spacing {
  padding: 90px 0;
}
body main section.bannersection {
  display: flex;
}
@media screen and (max-width: 991px) {
  body main section.bannersection {
    flex-direction: column;
  }
}
body main section.bannersection .bannersection__left {
  padding: 50px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
body main section.bannersection .bannersection__left aside {
  color: #ffffff;
  text-align: right;
}
body main section.bannersection .bannersection__left aside.lower p {
  font-size: 30px;
}
body main section.bannersection .bannersection__left aside .subtitle {
  font-size: 40px;
}
body main section.bannersection .bannersection__left aside .title {
  font-size: 60px;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
body main section.bannersection .bannersection__left aside .title.noline {
  padding-bottom: 0;
}
body main section.bannersection .bannersection__left aside .title.noline::after {
  display: none;
}
body main section.bannersection .bannersection__left aside .title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}
body main section.bannersection .bannersection__left aside p {
  font-size: 36px;
}
body main section.bannersection .bannersection__right {
  flex: 1;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
}
body main section.bannersection .bannersection__right .bannerCarousel {
  max-width: 600px;
}
body main section.bannersection .bannersection__right .booksCarousel {
  max-width: 250px;
}
body main section.bookproductSection {
  padding: 130px 0 110px;
}
body main section.bookproductSection .section-title {
  color: #5c2d7c;
}
@media screen and (min-width: 992px) {
  body main section.bookproductSection .bookproductbanner {
    padding-right: 50px;
  }
}
body main section.bookproductSection aside {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 17px;
}
body main section.bookproductSection aside p {
  margin-bottom: 20px;
}
body main section.bookproductSection aside button {
  font-weight: 700;
  color: #5c2d7c;
  margin-top: 15px;
}
body main section.novelCategories {
  padding: 70px 0;
}
body main section.novelCategories .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
body main section.novelCategories .categories .category {
  text-align: center;
  min-width: 100px;
  flex: 1;
}
body main section.novelCategories .categories .category a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
body main section.novelCategories .categories .category img {
  margin-bottom: 25px;
}
body main section.novelCategories .categories .category:nth-last-child(n+2) {
  border-left: 2px solid #f5f1ed;
}
body main section.newLetterSection {
  background: linear-gradient(0deg, rgba(52, 34, 63, 0.8), rgba(52, 34, 63, 0.8)), url("./../images/booksrack.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 175px 0;
}
body main section.newLetterSection .newsletterForm {
  color: #ffffff;
  text-align: center;
}
body main section.newLetterSection .newsletterForm__header {
  font-size: 36px;
}
body main section.newLetterSection .newsletterForm__header .title {
  font-weight: 600;
  font-size: 60px;
}
body main section.newLetterSection .newsletterForm__content {
  margin-top: 45px;
}
body main section.newLetterSection .newsletterForm__content button, body main section.newLetterSection .newsletterForm__content .button-wrapper {
  width: 100%;
}
body main section.newLetterSection .newsletterForm__content .inputs-row {
  margin: 0 -15px;
}
@media screen and (max-width: 767px) {
  body main section.newLetterSection .newsletterForm__content .inputs-row {
    flex-direction: column;
  }
  body main section.newLetterSection .newsletterForm__content .inputs-row .input-wrapper {
    width: 100%;
  }
}
body main section.newLetterSection .newsletterForm__content .input-wrapper {
  flex: 1;
}
body main section.newLetterSection .newsletterForm__content .input-wrapper input {
  width: 100%;
  height: 70px;
  padding: 15px;
  border-radius: 35px;
  text-align: center;
  color: #b0aeae;
  font-size: 24;
  margin-bottom: 24px;
  outline: none;
  border: 0;
}
body main section.newLetterSection .newsletterForm__content .button-wrapper, body main section.newLetterSection .newsletterForm__content .input-wrapper {
  padding: 0 15px;
}
body footer .topFooter {
  background-color: #5c2d7c;
  padding: 76px 0 180px;
  color: #ffffff;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}
body footer .topFooter a {
  color: inherit;
  text-decoration: none;
}
body footer .topFooter__item ul {
  display: flex;
}
body footer .topFooter__item ul li {
  list-style: none;
  padding: 0 9px;
}
body footer .topFooter__item.group ul {
  flex-direction: column;
}
body footer .topFooter__item.group ul li {
  margin-bottom: 18px;
}
@media screen and (max-width: 767px) {
  body footer .topFooter__item .socialicons {
    margin-bottom: 40px;
  }
}
body footer .topFooter__header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
body footer .topFooter__header .footerimg {
  margin-left: 18px;
}
body footer .topFooter__header .search {
  position: relative;
  flex: 1;
}
body footer .topFooter__header .search span {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
body footer .topFooter__header .search input {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
  border-radius: 35px;
  outline: none;
  padding: 0 35px 0 65px;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}
body footer .bottomFooter {
  background-color: #333333;
  padding: 35px 0;
  color: #ffffff;
}
body footer .bottomFooter__inner {
  display: flex;
  justify-content: space-between;
}
body footer .bottomFooter__inner p {
  margin-bottom: 0;
}
body footer .bottomFooter a {
  color: #ffffff;
  text-decoration: none;
}

.singleblogbanner {
  padding: 42px 0 110px;
}
.singleblogbanner .title {
  font-size: 68px;
  font-weight: 700;
  color: #5c2d7c;
}
@media screen and (max-width: 991px) {
  .singleblogbanner .title {
    text-align: center !important;
    font-size: 38px;
  }
  .singleblogbanner .title br {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .singleblogbanner {
    padding-bottom: 42px;
  }
  .singleblogbanner .breadcrumbs-wrapper {
    padding-bottom: 0;
  }
  .singleblogbanner .breadcrumbs-wrapper ul {
    justify-content: center;
  }
}
.singleblogbanner .timeinfo {
  font-size: 16px;
  font-weight: 400;
  color: #464347;
}
@media screen and (max-width: 991px) {
  .singleblogbanner .timeinfo {
    text-align: center !important;
  }
}
.singleblogbanner .timeinfo b {
  font-weight: 700;
}

.singleblogpostinfo__article {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 86px;
}
@media screen and (max-width: 991px) {
  .singleblogpostinfo__article {
    font-size: 16px;
    padding-bottom: 36px;
  }
}
.singleblogpostinfo__article p {
  margin-bottom: 28px;
}
.singleblogpostinfo__article .title {
  color: #5c2d7c;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 28px;
}
.singleblogpostinfo__article .quotedtext {
  display: flex;
  flex-direction: column;
  padding: 47px 55px 92px 55px;
}
@media screen and (max-width: 991px) {
  .singleblogpostinfo__article .quotedtext {
    padding: 30px;
  }
}
.singleblogpostinfo__article .quotedtext img {
  display: block;
  margin: 0 auto;
}
.singleblogpostinfo__article .quotedtext .content {
  padding: 50px 0;
  border-top: 2px solid #5c2d7c;
  border-bottom: 2px solid #5c2d7c;
  margin: 30px 0;
  font-size: 32px;
  font-weight: 600;
  color: #5c2d7c;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .singleblogpostinfo__article .quotedtext .content {
    font-size: 24px;
  }
}
.singleblogpostinfo__article .blog {
  display: flex;
  background-color: #f3f3f3;
  padding: 30px 36px;
  margin: 28px 0 14px;
}
@media screen and (max-width: 575px) {
  .singleblogpostinfo__article .blog {
    flex-direction: column;
    align-items: center;
  }
  .singleblogpostinfo__article .blog .bloginfo {
    padding-right: 0 !important;
    margin-top: 15px;
    text-align: center;
  }
}
.singleblogpostinfo__article .blog .blogimg {
  width: 154px;
}
.singleblogpostinfo__article .blog .bloginfo {
  padding-right: 48px;
  font-size: 24px;
  color: #5c2d7c;
  font-weight: 400;
}
.singleblogpostinfo__article .blog .bloginfo .title {
  font-size: inherit;
  font-weight: 700;
  color: #333333;
  margin-bottom: 2px;
  line-height: 1;
}
.singleblogpostinfo__article .blog .bloginfo p {
  margin-bottom: 4px;
}
.singleblogpostinfo__article .blog .bloginfo span {
  display: block;
  color: #6d5c78;
  font-size: 14px;
  font-weight: 400;
}
.singleblogpostinfo__posts {
  background-color: #f3f3f3;
  padding: 35px 22px;
  margin-bottom: 40px;
}
.singleblogpostinfo__posts .title {
  color: #050304;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  padding-bottom: 22px;
  text-align: center;
}
.singleblogpostinfo__posts .title::after {
  content: "";
  position: absolute;
  width: 46px;
  height: 2px;
  background-color: #5c2d7c;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.singleblogpostinfo__posts__blogs {
  margin-top: 26px;
}
.singleblogpostinfo__posts__blogs__blog {
  color: #5c2d7c !important;
  text-decoration: none !important;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 481px) {
  .singleblogpostinfo__posts__blogs__blog {
    flex-direction: column;
  }
}
.singleblogpostinfo__posts__blogs__blog:nth-last-child(n+2) {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.singleblogpostinfo__posts__blogs__blog__img {
  min-width: 154px;
  max-width: 154px;
  margin-left: 12px;
}
.singleblogpostinfo__posts__blogs__blog__info {
  text-align: right;
}
@media screen and (max-width: 481px) {
  .singleblogpostinfo__posts__blogs__blog__info {
    text-align: center;
    margin-top: 15px;
  }
}

.postnavigation {
  padding: 54px 0 50px;
  border-top: 2px solid #5c2d7c;
  border-bottom: 2px solid #5c2d7c;
  margin: 10px 0 20px;
  display: flex;
  justify-content: space-between;
}
.postnavigation a {
  text-decoration: none;
}
.postnavigation__nav {
  display: flex;
  align-items: center;
}
.postnavigation__nav p {
  margin-bottom: 0;
}
@media screen and (max-width: 575px) {
  .postnavigation__nav p {
    display: none;
  }
}
.postnavigation__nav__text {
  font-size: 24px;
  font-weight: 700;
  color: #5c2d7c;
  padding: 0 25px;
}
.postnavigation__nav__text .title {
  color: #333333;
  line-height: 1;
  margin-bottom: 12px;
}
.postnavigation__prev {
  text-align: left;
}

@media screen and (min-width: 1230px) {
  .container {
    max-width: 1200px;
  }
}

/*# sourceMappingURL=style.css.map */
