.sz-navbar {
  width: 100%;
  height: 64px;
  /* OVERRIDE WITH YOUR OWN HEIGHT */
  background-color: #fff;
  /* OVERRIDE WITH YOUR OWN BG COLOR */
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
}

.sz-navbar-inner {
  width: 100%;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sz-navbar-items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


#sz-navbar-check {
  display: none;
}

@media (min-width: 992px) {
  .sz-navbar-inner {
    max-width: 1200px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .sz-navbar-hamburger {
    display: none;
  }
  .sz-navbar-right .sz-navbar-items {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 991px) {
  .sz-navbar-inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sz-navbar-items {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 320px;
    background-color: #5c2d7c;
    /* OVERRIDE WITH YOUR OWN MENU BG COLOR */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: flex-start;
            padding: 20px;
            align-items: baseline;
  }
  
  .sz-navbar-left .sz-navbar-items {
    left: 0;
    margin-left: -100%;
    -webkit-transition: margin-left 0.2s ease;
    transition: margin-left 0.2s ease;
  }
  .sz-navbar-left #sz-navbar-check:checked ~ .sz-navbar-items {
    margin-left: 0;
  }
  .sz-navbar-left .sz-navbar-hamburger {
    left: 24px;
    /* OVERRIDE WITH YOUR OWN HAMBURGER BUTTON MARGIN */
  }
  .sz-navbar-right .sz-navbar-items {
    right: 0;
    margin-right: -100%;
    -webkit-transition: margin-right 0.2s ease;
    transition: margin-right 0.2s ease;
  }
  .sz-navbar-right #sz-navbar-check:checked ~ .sz-navbar-items {
    margin-right: 0;
  }
  .sz-navbar-right .sz-navbar-hamburger {
    right: 24px;
    /* OVERRIDE WITH YOUR OWN HAMBURGER BUTTON MARGIN */
  }
  div.sz-navbar-item:not(:last-of-type) {
    margin-bottom: 8px;
  }
}
